@charset "UTF-8";
/* CSS Document */
body
{
    font-family:"coming-soon",Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
    font-size:18px;
    font-weight:normal;
}

/* Eerst 2 soorten flapjes definiëren: kennis en acties */
ul#flaps {
 list-style: none;
 background: url(images/achtergrond.png) no-repeat 0 0;
 position: relative;
 width: 1600px;
 height: 2560px;
 margin: 0;
 padding: 0;
}
ul#flaps li {
 border: 1px dashed#000;
 position: absolute;
}
ul#flaps li a{
 display: block;
 height: 100%;
text-decoration: none;
}
ul#flaps li a:hover {
 background: url(images/alleflapjes.png) no-repeat 0 0;
}

ul#flaps li a:hover span {
 display: block;
 padding: 5px;
 width: 350px;
 background: #000;
 position: relative;
 top: 100%;
 font: 14px Arial, Helvetica, sans-serif;
 opacity: .75;
 filter:alpha(opacity=75);
 color: #FFF;
}


/* Positie en eigenschappen van elk flapje*/
#drought {
	vertical-align: middle;
	text-align: center;
 	width: 920px;
 	height: 330px;
 	top: 20px;
 	left: 330px;
}
ul#flaps li#drought a:hover {
 background-position: -330px -20px;
}
#water-storage {
vertical-align: middle;
text-align: center;
 width: 800px;
 height: 200px;
 top: 390px;
 left: 20px;
}
ul#flaps li#water-storage a:hover {
 background-position: -20px -395px;
}
#water-livestock {
 width: 450px;
 height: 240px;
 top: 460px;
 left: 950px;
} 
ul#flaps li#water-livestock a:hover {
 background-position: -950px -465px;
}
#water-sources {
 width: 250px;
 height: 990px;
 top: 950px;
 left: 1320px;
}
#irrigation-efficiency {
 width: 470px;
 height: 180px;
 top: 730px;
 left: 1100px;
} 
ul#flaps li#irrigation-efficiency a:hover {
 background-position: -1100px -730px;
}
#irrigation-scheduling {
 width: 375px;
 height: 270px;
 top: 950px;
 left: 940px;
} 
ul#flaps li#irrigation-scheduling a:hover {
 background-position: -940px -950px;
}
#cropping-systems {
 width: 450px;
 height: 550px;
 top: 1000px;
 left: 432px;
}
#new-crops {
 width: 450px;
 height: 350px;
 top: 600px;
 left: 432px;
}
#drainage {
 width: 390px;
 height: 430px;
 top: 1120px;
 left: 20px;
}
#water-reuse {
 width: 400px;
 height: 450px;
 top: 635px;
 left: 20px;
}
#soil-management {
 width: 350px;
 height: 350px;
 top: 1280px;
 left: 940px;
}
#groundwater {
 width: 700px;
 height: 500px;
 top: 1900px;
 left: 440px;
}

ul#flaps li a span {
 display: none;
}
 
ul#flaps li a:hover span {
 display: block;
}

